<br>

<h2>Heyya lessgoo:)</h2>

<br>
<span>
<%= form_with model: @flight, method: :get do |f|%>
Departure From:
<%= f.select :departure_airport_id, @airports.map{|a| [a.code, a.id]} %>
<br>
<br>
Arrival at:
<%= f.select :arrival_airport_id, @airports.map{|a| [a.code, a.id]} %>
<br>
<br>
Date of Jouney:
<%# <%= select(:date, @date_options) %>
<%= f.select :date, @flights.map{|f| [f.date_time]} %>
<br>
<br>
No. of Passengers:
<%= f.select :passengers, [1,2,3,4,5,6]  %>
</span>
<br>
<br>
<%= f.submit "Search for Flights" %>
<%end%>

<%= render "flights/available_flights" %>
