<h1>Add Passenger Details</h1>
<%= form_with model: @booking, method: :post, html:{"data-turbo"=>false} do |form| %>
<%n = 1%>
<%= form.fields_for :passengers do |p| %>

<br>
 <b> Passenger <%=n%> </b>
 <div class="container">
  <div>
    <%= p.label :name %><br>
    <%= p.text_field :name %>
  </div>

  <div>
    <%= p.label :email %><br>
    <%= p.text_area :email %><br>
  </div>
  </div>
  
  <%n += 1%>

  <%= form.hidden_field :flight_id, value: params[:flight_id] %>
  

<% end %>

    <%= form.submit %>
<%end%>

